*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #F3EDE9;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 3fr 1fr;
   justify-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

h1, p {
    color: #161419;
}

h1 {
    font-weight: 700;
font-size: 60px;
grid-area: 1 / 1 / 2 / 4;
letter-spacing: 0.185em;
color: #161419;
text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-weight: 700;
font-size: 34px;
letter-spacing: 0.185em;
}

.main {
    grid-area: 2 / 1 / 3 / 4;
position: relative;
display: flex;
flex-direction: column;
align-items: center;

}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 18px;
    height: 136px;
}

#score {
    padding: 0;
    display: none;
}

.block {

    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBCED8;;
    font-weight: 400;
font-size: 90px;
cursor: pointer;
}

#form-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-input {
    
    width: 483px;
    height: 365px;
    background: #BBCED8;
    /* border-radius: 10px; */
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.input-filed {
    display: flex;
    flex-direction: column;
    gap: 27px;
    letter-spacing: 0.185em;
    font-size: 30px;
}

.form-input div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
font-weight: 700;
font-size: 30px;
}

input,
button
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;

}

input
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;

}

/* These elements are usually rendered a certain way by the browser */
button
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.players {
    background: #F3EDE9;
/* border-radius: 10px; */
width: 397px;
height: 48px;

font-size: 20px;
letter-spacing: 0.185em;
text-align: center;
}

input:focus {
    outline: 0;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    border: 1px solid #1D728E;
}

#restart {
    display: none;
    width: 488px;
    height: 44px;
    margin-top: 375px;
}

#start {
    width: 480px;
    height: 44px;
}

#restart, #start {
    cursor: pointer;
box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
letter-spacing: 0.185em;
background-color: #BBCED8;
}



#start:hover, #restart:hover, .block:hover{
    background-color: #CE434C;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    border: 1px solid #1D728E;
}


.p1 {
    color: #CE434C;
}

.p2 {
    color: #4EA1B9;
}

#message {
    /* display: none; */
    font-size: 24px;
line-height: 29px;
letter-spacing: 0.25em;
color: #5CA7BD;

}